section.intro
  ul.instructions-list
    li= 'anonymously draw a '
      a(href="https://feelings.blackfriday") feeling
    li= 'see what everyone else drew '
      a(href="/last-week") next week
    li 
      a(href="/masterpieces")= 'repeat'
      span= " ↩"
