- frog = "https://s3.amazonaws.com/hyperweb-editor-assets/us-east-1%3A71bc4e4c-4845-48d7-ba7a-4171a4177b55%2Ffrog%402x.png"

header
  span.frog
    a(href='/')
      img(src=frog width=59)
      .feels Feels

  if admin
    .alert Admin
