script(src="https://code.jquery.com/jquery-3.1.1.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.4.4/randomColor.min.js")

script(src="logic/draw.js")
script(src="logic/voting.js")
script(src="logic/sign-up.js")

script(src="logic/weekly.js")
script(src="logic/new-election.js")
script(src="logic/unsubscribe.js")

script(src="logic/masterpieces.js")
