section.therapy
  h2 Art Therapy
  img(src="" alt="This week's art therapy pick")
  textarea.intro(placeholder="How does this make you feel?")
  input(type='range')
  div
    button.primary-button
      span Share Feelings →
  