- S3_PATH = "https://frog-feels.s3.amazonaws.com"
- url = "http://frogfeels.com"
- description = "A place to draw feelings, and feel feelings."
- frog = "https://s3.amazonaws.com/hyperweb-editor-assets/us-east-1%3A71bc4e4c-4845-48d7-ba7a-4171a4177b55%2Ffrog.png"
- frog2x = "https://s3.amazonaws.com/hyperweb-editor-assets/us-east-1%3A71bc4e4c-4845-48d7-ba7a-4171a4177b55%2Ffrog%402x.png"

script(type='text/javascript').
  var palettes = !{JSON.stringify(palettes)};
doctype html
html
  include includes/head
  body
    include includes/header
    include includes/about
    include includes/draw
    include includes/vote
    include includes/footer
    include includes/scripts
