.sign-up
  margin-top: 2.5rem
  margin-bottom: 0

label
  width: 100px
  display: inline-block

input,
textarea
  border: 2px tertiary solid
  background-color: black
  border-radius: 5px
  padding: 10px
  margin-bottom: 1rem
  width: 30rem
  border-top-right-radius: 0
  border-bottom-right-radius: 0
  max-width: 90%
  &:focus
    outline: none
    border-color: white
  &.error
    border-color: error
  button.submit.primary-button
    background-color: black
    border-bottom-left-radius: 0
    border-top-left-radius: 0
    margin-left: -2px

.field-line
  border-radius: 5px

textarea
  width: 50rem
  height: 10rem
  margin-top: 4rem
  margin-bottom: 3rem

section.signup-success
  max-width: 420px
  .instructions
    font-family: plantin
    font-style: italic
    font-size: 2rem
    line-height: 2.4rem

.validating-button
  margin: 0

.bye
  max-width: 100%

.user,
.remove-user
  display: inline

.remove-user
  padding: 5px
  cursor: pointer
  color: error
  user-select: none

.last-week
  input
    display: block

.new-election
  div
    margin-bottom: 1rem
