.masterpieces
  text-align: center

  .masterpiece
    margin-top: 5rem
    margin-bottom: 10rem
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    padding-left: 2rem;
    padding-right: 2rem

  .drawing
    max-width: 100%
    margin-bottom: 2rem
    background-color: black
    cursor: pointer
  
  .placard
    font-family: plantin
    padding: 1rem
    max-width: 342px
    background-color: white
    color: black
    box-shadow: -5px 5px 0px 0px rgba(255,255,255,0.5)
    margin-left: auto;
    margin-right: auto;
    .name
      font-style: italic
      font-size: 20px
      margin-bottom: 1rem
    .medium
      margin-bottom: .5rem

.transparent
  opacity: 0

.animate-squash
  animation-name: squash
  animation-duration: .3s
  timing-function: ease-in

@keyframes squash
  50%
    transform: scale(1.1)
  100% 
    transform: scale(1)

.animate-squish
  animation-name: squish
  animation-duration: .3s
  timing-function: ease-out

@keyframes squish
  50%
    transform: scale(0.9)
  100% 
    transform: scale(1)
