.remove-drawing
  display: block
  margin-top: 2rem
  margin-bottom: 4rem
  border-color: error

.make-masterpiece
  display: block

.is-masterpiece
  background-color: #af5dff;
  border-color: #af5dff;
  cursor: default
  &:hover,
  &:active
    background-color: #af5dff;

.last-week-review
  .topic
    margin-top: 2rem
  img
    width: 100%
    max-width: 320px

section.last-week
  .topic
    font-size: 3.2rem
    line-height: 3.6rem
  li
    display: inline-block
  .art
    margin-right: 1.5rem
    padding-bottom: 1.5rem

.sidenote
  color: secondary
  a
    text-decoration: underline
    &:hover
      text-decoration: none

